@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
nav{
font-size: 30px;
text-align: center;

}

body{

color: aliceblue;

}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: black;
    text-align: center;
    


}

.box1{
justify-self: center;
padding: 50px;
width: 500px;
height: 250px;
background-color: rgb(128, 19, 19);
margin-bottom: 75px;

}
.box2{

    justify-self: center;
    background-color: rgb(22, 49, 100);
    padding: 50px;
width: 500px;
height: 250px;
    
}

#p1, #p2{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;


}
h2{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}